*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

#bloque1{
    margin-top: 20px;
    padding: 40px;
    border: 1px solid black;
    width: 650px;
    margin: 0px auto;
    height: 300px;
}

#bloque1 #dwec{
    border: 1px solid black;
    padding: 20px;
    background-color: #e8710a;
    color: white;
    text-decoration: none;
}

#bloque1 #diw{
    border: 1px solid black;
    padding: 20px;
    background-color: #9334e6;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

#bloque1 #sandbox{
    border: 1px solid black;
    padding: 20px;
    background-color: #90DA82;
    color: white;
    text-decoration: none;
    margin-top: 100px;
}