*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
  }
  
  #header{
    width: 100%;
    border: 1px solid black;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
  }
  
  h1{
    color: red;
  }
  
  #contenedor{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;
    padding: 10px;
    min-height: 150px;
  }
  
  #contenedor #boton{
    width: 100px;
    height: 50px;
    margin: 0px auto;
    margin-top: 30px;
    margin-left: 170px;
  }

  #boton_fiddle{
    margin-top: 20px;
    padding: 20px;
    margin: 20px;
  }