*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.clearfix{
    clear: both;
    display: none;
}

#header{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
    line-height: 100px;
    background-color: #eee;
}

#nav{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    box-shadow: 0px 0px 2px gray;
}

#nav ul{
    padding-left: 100px;
    text-decoration: none;
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

#nav > ul  > li{
    text-decoration: none;
    padding-left: 20px;
    line-height: 50px;
    border-right: 1px solid gray;
    float: left;
}

#nav > ul > li a{
    text-decoration: none;
    display: block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#content{
    margin: 0px auto;
    width: 1150px;
    min-height: 1100px;
}

#aside{
    float: left;
    margin-right: 30px;
    padding: 15px;
    display: block;
}

#aside h2{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    text-align: center;
}

#aside ul{
    list-style: none;
}

#aside ul li{
    margin-bottom: 20px;
}

#aside a{
    display: block;
    padding: 20px;
    background-color: #eee;
    color: #444;
    text-align: center;
    text-transform: uppercase;
}

#sections{
    float: right;
    width: 80%;
    margin-right: 20px;
}

#sections .titulo{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
}

#sections section{
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date{
    color: gray;
    font-size: 14px;
}

#sections a{
    list-style: none;
    text-decoration: none;
    color: #70b231;
}

#sections span{
    color: gray;
}

#footer{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 70px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
    line-height: 60px;
}